.wrapper {
  margin: 100px 0 0 500px;
  position: relative;

}
.wrapper-table table {
  border: 1px solid #3498DB;
  min-width: 50px;
}
.wrapper-table td {
  margin: 1px;
  width: 50px;
  height: 50px;
  background-color: #3498DB;
}
.btn {
  width: 50px;
  height: 50px;
  margin: 1px;
  display:block;
  position: absolute;
  color: #eee;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s;
}
.btn:hover {
  opacity: 0.7;
  display: block;
}
.btn__top {
  position: absolute;
  top: -52px;
  left: 2px;
}
.btn__right {
  position: absolute;
  top: 2px;
  left: 218px;
}
.btn__bottom {
  position: absolute;
  top: 218px;
  left: 1px;
}
.btn__left {
  position: absolute;
  top: 2px;
  left: -52px
}

.btn__add {
  border: none;
  background-color: #F39C12;
}

.btn__delete {
  background-color: #f44336;
  border: none;
}

.disabled {
  display: none;
}